body {
	display: flex;
	flex-direction: column;
	font-family: "Poppins", sans-serif;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
	font-size: 3.5rem;
}

.header {
	font-size: 2.5rem;
	text-align: center;
	margin: 0;
}

.main {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 1400px;
}

.user-choice,
.computer-choice {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1em 1em 1em;
}

#rules {
	width: 40em;
	height: 35em;
}

.choice {
	height: auto;
	width: 13em;
	cursor: pointer;
	transition: all 0.1s;
	margin-bottom: 0.75em;
}

.result-list {
	font-size: 1.75rem;
	text-align: center;
}

.win-result {
	font-size: 2.25rem;
	text-align: center;
	background-color: yellow;
	align-self: center;
	padding: 0 2.5em;
}

.lose-result {
	font-size: 2.25rem;
	text-align: center;
	background-color: lightcoral;
	align-self: center;
	padding: 0 2.5em;
}

.play-again-btn {
	text-align: center;
	padding: 0.5em 1em;
	font-size: 2.25rem;
	width: fit-content;
	margin: auto;
}

.user-comp-choice {
	border: 2px solid black;
}
